@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/* puplic */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: 'Nanum Gothic', sans-serif;
}
:root{
    --maincolor:#30e3ca;
}
.container{
    width: 85%;
    margin: auto;
    background-color: #fff;
    /* position: absolute;
    top: 20px;
    left: 99px;
    border: 1px solid #fff;
    border-radius: 4px; */
}

.c{
    width: 85%;
    margin: auto;
}
    a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #fff;
}

.r{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
/* end puplic */
/* start header */
.header{
    background-image: url(../img/xhero_2.jpg.pagespeed.ic._xYTRIlPTB.webp);
    height: 80vh;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-position: 0px -30px ;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    height: 80vh;
    opacity: 0.4;
}
/* end header */
/* start navbar */
.nav{
    position: absolute;
    top: 20px;
    left: 99px;
    border: 1px solid #fff;
    border-radius: 4px;
    /* margin: auto; */
    width: 85%;

}
.nav .logo{
    width: 14%;
    text-align: center;
}
.nav .logo a{
    text-transform: uppercase;
    color: #000;
    font-size: 20px;
    font-weight:900;
}
.nav .logo span{
    color: var(--maincolor);
}
.nav .navbar {
    /* background-color: red; */
    width: 66%;
    /* text-align: right; */
}
.nav .navbar .list .list-item{
    display: inline-block;
}
.nav .navbar .list .list-item a{
    color: #000;
    text-transform: capitalize;
    transition: 0.2s;
    font-size: 15px;
}
.nav .navbar .list .list-item a:hover{
    color: var(--maincolor);
}
.nav .navbar .list .list-item span{
    text-transform: lowercase;
}
.nav .navbar .list .list-item i{
    font-size: 12px;
    margin-left: 1px;
    margin-right: 17px;
}
.nav .navbar .list .list-item .or{
    border-left: 1px solid #dee2e6;
    padding-left: 20px;
    margin-left: 40px;
}
.nav .navbar .list .list-item .postads{
    color: #fff;
}
.nav .navbar .list .list-item a{
    margin-left: 10px;
    margin-right: 10px;
}
.nav .navbar .list .list-item .postads{
    margin-left: 40px;
    padding: 11px;
    padding-right: 19px;
    background-color: var(--maincolor);
    border-radius: 5px;
    padding-left: 16px;
}
.nav .navbar .list .list-item .postads:hover{
    color: #fff;
    background-color: var(--maincolor);
}
.nav .navbar .list .list-item ul {
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    top: 90px;
    width: 212px;
    padding-top: 18px;
    border-top: 3px solid var(--maincolor);
    line-height: 41px;
    padding-bottom: 0px;
    opacity: 0;
    transition: 0.2s;
}
.nav .navbar .list .list-item ul li a{
    text-transform: capitalize;
    font-size: 17px;
    color:#343a40;
    margin-left: 20px;

}
.nav .navbar .list .list-item ul li:hover{
    background-color: #e8e8e8;
    color: #343a40;
    width: 100%;
}
.nav .navbar .list .list-item ul li a:hover{
    color: #343a40;
}

.nav .navbar .list .l:hover .dropdown{
    opacity: 1;
    top: 69px;
}
.nav .navbar .list .list-item .dropdown:hover {
    /* opacity: 0; */
    transition: 0.5s;
}

/* end navbar */
/* header title */
.header-titles{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-title{
    position: absolute;
    top: 37%;
    left: 570px;
    text-align: center;
}
.header-titles .header-title h1{
    text-transform: capitalize;
    color: #fff;
    font-size: 45px;
    font-weight: 500;
}
.header-titles .header-title p{
    color:rgba(255, 255, 255, 0.5);
    line-height: 50px;
    font-size: 18px;
}
/* start featured ads*/
.main-featured{
    /* height: 400px; */
}
.main-featured {
    text-align: center;
}
.main-featured h1{
    text-transform: capitalize;
    font-size: 25px;
    padding-top: 50px;
    margin-bottom: 10px;
}
.main-featured span{
    width: 50px;
    height: 3px;
    margin-bottom: 50px;
    display: inline-block;
    background-color: var(--maincolor);
}
.featured-item{
    height: 400px;
    overflow: hidden;
}
.featured-items{
    float: left;
    width: 23%;
    box-shadow: 10px 10px 10px #eee;
    height: 350px;
    
}
.image-1{
    height: 170px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}
.m{
    /* margin-right: 20px; */
    margin-left: 25px;
}
.f{
    margin-left: 25px;
}
.i{
    margin-left: 100px;
}
.p1{
    margin-bottom: 20px;
    text-align: center;
}
.featured-items .p1 span{
    background-color: #e9ecef;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;
    padding-right: 23px;
    border-radius: 35px;
    font-size: 11px;
}
.featured-items .p1 i {
    margin-left: 105px;
    padding-left: 1px;
    padding-top: 5px;
    margin-top: 15px;
    color: var(--maincolor);
    background: rgba(0, 0, 0, 0.03);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: 0.1s;
}
.featured-items .p1 i:hover{
    color: #fff;
    background-color: red;
    cursor: pointer;
}
.featured-items a{
    color: var(--maincolor);
    text-transform: capitalize;
    /* font-size:16px ; */
    margin-left: 10px;
    line-height: 30px;
    font-weight: 600;
}
.featured-items .p2{
    font-size: 13px;
    color: #888;
    margin-left: 10px;
    line-height: 35px;
}
.star{
    margin-left: 10px;
}
.featured-items .fa-star{
    color: #f89d1c;
    font-size: 13px;    
}
.fa-star.dis-active{
    color: gray;
}
.rev{
    display: inline;
    color: #888;
    font-size: 13px;
}
.arrow{
    text-align: center;
}
.arrow i{
    color: #495057;
    font-size: 20px;

}
.arrow i:hover{
    color:var(--maincolor) ;
    cursor: pointer;
}
.arrow .fa-angle-right{
    margin-right: -40px;
}
.arrow .fa-angle-left{
    margin-right: 50px;
}
/* end featured */

/* start popular product */
.popular-product{
    height: 150px;
}
.popular-product .main{
    text-align: center;
    margin-top: 80px;
    text-transform: capitalize;
}
.popular-product .main h1{
    color: var(--maincolor);
    line-height: 70px;
}
.popular-product .main p{
    color: #888;
    font-size: 16px;
}
.popular-product .main span{
    width: 80px;
    height:3px;
    display: inline-block;
    background-color: var(--maincolor);
    margin-top: 20px;
}
.img-header{
    background-color: aqua;
    height: 301px;
    margin-bottom: 15px;
    background-size: cover;
}
.car-1{
    background-image:url(../img/ximg_1.jpg.pagespeed.ic.j82vqtzLSp.webp);
}
.car-2{
    background-image: url(../img/ximg_2.jpg.pagespeed.ic.5-pth7OZ43.webp);
}
.car-3{
    background-image: url(../img/ximg_3.jpg.pagespeed.ic.K1pnvimfmk.webp);
}
.product-item{
    display: flex;
    justify-content: center;
}
 .product-item .product-items{
     /* float: left; */
     width: 350px;
     height: 301px;
     position: relative;
     background-color: white;
     margin: 20px;
}
.overlayy{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
.overlayy-content{
    margin-left: 20px;
}
.overlayy .overlayy-content a{
    display: block;
    color: #fff;    
}
.overlayy .overlayy-content .a1{
    margin-top: 180px;
    background-color: var(--maincolor);
    width: 90px;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 14px;
    border-radius: 133px;
    font-size: 13px;
}
.overlayy .overlayy-content .a2{
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 20px;
}
.overlayy .overlayy-content p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}
.icon{
    color: #fff;
    background-color: rgba(200, 200, 200, 0.3);
    width: 35px;
    height: 35px;
    padding-left: 9px;
    padding-top: 9px;
    border-radius: 50%;
    position: absolute;
    bottom: 16px;
    right: 13px;
}
/* end popular product */

.img-header.car-4{
    height: 464px;
}
.img-header.car-5{
    height: 464px;
}
.product-item .product-items.ttwo{
    width: 540px;
    height: 464px;
    position: relative;
    background-color: white;
    margin: 25px;
}

.car-4{
    background-image:url(../img/ximg_4.jpg.pagespeed.ic.BUEZMeneMq.webp);
}
.car-5{
    background-image: url(../img/ximg_2.jpg.pagespeed.ic.5-pth7OZ43.webp);
}

 .img-header.car-1{
    transform: scale(0.98);
    transition: 0.4s ease-in-out;    
}
 .img-header.car-1:hover{
    transform: scale(1.1);
}
.img-header.car-2{
    transform: scale(0.98);
    transition: 0.4s ease-in-out;    
}
 .img-header.car-2:hover{
    transform: scale(1.1);
}
.img-header.car-3{
    transform: scale(0.98);
    transition: 0.4s ease-in-out;    
}
 .img-header.car-3:hover{
    transform: scale(1.1);
}
.img-header.car-4{
    transform: scale(0.98);
    transition: 0.4s ease-in-out;    
}
 .img-header.car-4:hover{
    transform: scale(1.1);
}
.img-header.car-5{
    transform: scale(0.98);
    transition: 0.4s ease-in-out;    
}
 .img-header.car-5:hover{
    transform: scale(1.1);
}

.overlayyy{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
.overlayyy-content{
    margin-left: 20px;

}
.overlayyy .overlayyy-content a{
    display: block;
    color: #fff;    
}
.overlayyy .overlayyy-content .a1{
    margin-top: 320px;
    background-color: var(--maincolor);
    width: 90px;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 14px;
    border-radius: 133px;
    font-size: 13px;
}
.overlayyy .overlayyy-content .a2{
    margin-top: 11px;
    margin-bottom: 15px;
    font-size: 20px;
}
.overlayyy .overlayyy-content p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    margin-top: -7px;
}
.icon:hover{
    background-color: red;
    cursor: pointer;
}


/* start subscribe section */
.subscribe{
    background-color: var(--maincolor);
    padding: 40px 0;
    margin-top: 100px;
}
.subscribe .row{
    align-items: flex-end;
}
.subscribe .news{
    width: 50%;
}
.subscribe .news h2{
    color: #fff;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.subscribe .news p{
    color: #ffffffb3;
}
.subscribe .email-sub{
    width: 50%;
}
.subscribe .email-sub form{
    display: flex;
    justify-content: space-between;
}
.subscribe .email-sub input[type="email"]{
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    width: 100%;
    color: #495057;
}
.subscribe .email-sub input[type="email"]::placeholder{
    color: #fff;
    font-style: italic;
}
.subscribe .email-sub input[type="submit"]{
    background-color: #efefef;
    border: 1px solid #efefef;
    padding: 5px 10px;
}
/* end subscribe section */

/* start footer */
footer{
    background-color: #333333;
    padding: 100px 0;
    position: relative;
}
footer .footer-first{
    margin-bottom: 250px;
}
footer .footer-first .row{
    align-items: flex-start;
}
footer .footer-first .footer-items{
    width: 80%;
    margin-right: 20px;
}
footer .footer-first .item-one{
    width: 48%;
}
footer .footer-first .item-one h2{
    line-height: 3;
}

footer .footer-first .item-two{
    width: 20%;
    position: relative;
    margin-top: 55px;
}
footer .footer-first .item-two .t{
    margin-left: 13px;    
    margin-top: -85px;
    line-height: 3;
}
footer .footer-first .item-two h2{
line-height: 3;    
}


footer .footer-first .footer-items h2{
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
footer .footer-first .footer-items .item-one p{
    color: #737373;
}
footer .footer-first .item-two ul li{
    margin-bottom: 10px;
}

footer .footer-first .item-two ul li a{
    color: #999999;
    transition: 1s;
    text-transform: capitalize;
}

footer .footer-first .item-two ul li a:hover{
    color: #fff;
}
footer .footer-first .item-two i{
    margin: 0 10px;
    color: #999999;
    transition: 1s;
}
footer .footer-first .item-two i:hover{
    color: #fff;
}
footer .footer-first .footer-item-search{
    width: 20%;
}
footer .footer-first .footer-item-search form{
    display: flex;
    justify-content: space-between;
    height: 40px;
}
footer .footer-first .footer-item-search input[type="text"]{
    background: none;
    border: none;
    border: 1px solid #6c757d;
    width: 100%;
    color: #fff;
}
footer .footer-first .footer-item-search input[type="text"]::placeholder{
    color: #6c757d;
    padding: 10px;
}
footer .footer-first .footer-item-search input[type="submit"]{
    color: #fff;
    background-color: var(--maincolor);
    border: 1px solid var(--maincolor);
    cursor: pointer;
    padding: 5px 10px;
}
footer .footer-second{
    padding-top: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}
footer .footer-second p{
    color: #737373;
}
footer .footer-second p a{
    color: #999999;
    transition: 0.5;
}
footer .footer-second p a:hover{
    color: #fff;
}
/* end footer */































